@charset "UTF-8";
html,body{ height: 100%; }
body{ font-family: 'Noto Sans KR', sans-serif; color:#666666;}
ul,ol{ list-style: none; }
a{ color: #666666; }

a.arrow.left{
  position: absolute;
  bottom: calc( 50% - 35px);
  left: 27px;
  opacity: .4;
}

a.arrow.left:hover{
  transition: all 2s;
  opacity: 1;
}

a.arrow.right{
  position: absolute;
  bottom: calc( 50% - 35px);
  right: 27px;
  opacity: .4;
}

a.arrow.right:hover{
  transition: all 2s;
  opacity: 1;
}

/*상단바*/
#wrap{
  margin: 0 auto;
}

#wrap #header{
  background: #e4e7de;
  position: relative;
  width: 100%;
  height: 180px;

}

#wrap #header #bg_logo{
  position: absolute;
  background-image: url('../img/header_img.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 182px;
  margin: 0 auto;
}

#wrap #header #logo{
  position: absolute;
  background-image: url('../img/elle_logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 100px;
  margin: 40px calc(50% - 182px);
}

#wrap #inner_gnb{
  position: relative;
  display: flex;
  background: white;
  height: 65px;
  line-height: 65px;
}

#wrap #inner_gnb #gnb{
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
  height: 65px;

}

#wrap #inner_gnb #gnb li a{
  margin-left: 50px;
  display: flex;
  align-items: center;
}

#wrap #inner_gnb #lnb{
  display: flex;
  width: 1200px;
  font-size: 16px;
}

#wrap #inner_gnb #lnb li{
  margin-left: 60px;
}

#wrap #inner_gnb #lnb li:nth-of-type(1){
  margin-left: 100px;
}

 #wrap #inner_gnb #lnb li:hover ~ .bar{
   display: block;
 }

.bar{
  position: absolute;
  display: none;
  width: 100vw;
  height: 250px;
  left:0;
  right: 0;
  top: 65px;
  background: red;
  opacity: .8;
  z-index: 50;
}

#wrap #inner_gnb #login_menu{
  z-index: 500;
  margin-left: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  width: 250px;
}


#wrap #inner_gnb #login_menu li button{
  border: none;
  outline: none;
  background-color: white;
  width: 30px;
  height: 30px;
  background-image: url('../img/banner_icon2.png');
  cursor: pointer;
}

#wrap #inner_gnb #login_menu li{
  float: left;
  font-size: 16px;
  margin-left: 40px;
}

#wrap #inner_gnb #login_menu li:nth-of-type(3){
  height: calc( 100% - 18px);
}

/*이벤트배너*/
#event .inner{
  position: fixed;
  right: 40px;
  width: 270px;
  height: 300px;
  border: 1px solid #666666;
  z-index: 99;
  background: white;
}

#event .inner .event_img{
  background: url('../img/event.png');
  background-size: cover;
  margin: 20px auto;
  right: 40px;
  width: 233px;
  height: 146px;
}

#event .inner .event_t{
  position: absolute;
  left: 20px;
}

#event .inner .event_t h3{
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 5px;
  color: black;
}

#event .inner .event_t p{
  font-size: 14px;
  line-height: 26px;
  margin-top: 10px;
}

#event .inner .button_img{
  position: absolute;
  bottom : 20px;
  background: url('../img/button_1.png');
  background-repeat: repeat-y;
  background-position: center;
  width: 270px;
  height: 13px;
}

/*메인배너*/
#mainbanner{
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 705px;
}

#mainbanner .mainbanner_img{
  position: relative;
  margin: 0 auto;
  width: 75rem; /*1200px*/
  height: 675px;
}

#mainbanner .mainbanner_img > .maintext{
  position: absolute;
  left: 4%;
  bottom: 5%;
}


#mainbanner .mainbanner_img > .maintext > .maintitle{
  font-size: 40px;
  color: white;
}

#mainbanner .mainbanner_img > .maintext > .subtitle{
  font-size: 18px;
  line-height: 32px;
  margin-top: 25px;
  color: white;
}

#mainbanner > .button{
  position: absolute;
  display: inline-block;
  bottom: 0px;
  left: 50%;
}

#slider_page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

#slider_page .dot{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: black;
  margin: 0 10px;
}

/*첫번째 섹션*/
#container{
  overflow: hidden;
}

#container #first{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

#container #first .inner{
  width: 1200px;
  height: 420px;
}

#container #first .inner h1{
  margin-top: 50px;
  margin-left: 25px;
  font-size: 40px;
  color: #050505;
}

#container #first .inner ul.box_wrap{
  margin-top: 25px;
  width: 1200px;
  height: 260px;
  background: white;
  display: flex;
  justify-content: space-between;
}

#container #first .inner ul li .box1, .box2, .box3{
  width: 350px;
  height: 220px;
}

#container #first .inner ul li h3{
  font-size: 18px;
  margin-top: 10px;
  line-height: 23px;
}

/*두번째 섹션*/
#second{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 680px;
  background-color: black;
}

#second > .inner1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#second > .inner1 > .maintext{
  margin-top: -15px;
  color: white;
  text-align: center;
}

#second > .inner1 > .maintext > p.title{
  font-size: 18px;
  font-weight: bold;
}

#second > .inner1 > .maintext > p.maintitle{
  margin-top: 30px;
  font-size: 45px;
}

#second > .inner1 > .maintext > p.subtitle{
  margin-top: 20px;
  font-size: 16px;
  color: #929292;
}

#second .inner1 .box_wrap2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  width: 1200px;
}

#second .inner1 .box_wrap2 > a:nth-of-type(1){
  opacity: .4;
}

#second .inner1 .box_wrap2 > a:nth-of-type(1):hover{
  transition: all 2s;
  opacity: 1;
}

#second .inner1 .box_wrap2 > a:nth-of-type(2){
  opacity: .4;
}

#second .inner1 .box_wrap2 > a:nth-of-type(2):hover{
  transition: all 2s;
  opacity: 1;
}

#second .inner1 .box_wrap2 .items{
}

#second .inner1 .box_wrap2 h3{
  margin-top: 15px;
}

    /*세번째 섹션*/
#fourth #third{
  position: absolute;
  overflow: hidden;
  background: green;
  width: 286px;
  height: 500px;
  right: 0;
}


/*네번째 섹션*/
#fourth{
  position: relative;
  overflow: hidden;
  background: 0;
  width: 1100px;;
  height: 1270px;
  margin: 0 auto;
}

#fourth #inners{
  position: relative;
  float: left;
  background: 0;
  width: 1100px;
  height: 1270px;
  margin-left: 30px;
}

#fourth .inner1 .img{
  background: url('../img/3box_wrap1.png');
  width: 704px;
  height: 440px;
  margin-top: 50px;

}

#fourth .inner2 .img{
  background: url('../img/4box_wrap1.png');
  width: 704px;
  height: 440px;
  margin-top: 50px;
}

#fourth .maintext{
  margin-top: 28px;
}

#fourth  .maintext .toptitle{
  color: red;
  font-size: 13px;
  font-weight: bold;
}

#fourth .maintext h2{
  margin-top: 28px;
  font-size: 26px;
}

#fourth .maintext .subtitle{
  margin-top: 13px;
  font-size: 16px;
}

/*세번째 섹션*/
#fourth #third{
  float: right;
  position: absolute;
  background: 0;
  width: 286px;
  height: 500px;
  margin-top: 50px;
  margin-right: 30px
}

#fourth #third .inner h2{
  font-size: 22px;
  line-height: 22px;
}

#fourth #third .inner .imgg{
  background: url('../img/5box_wrap1.png');
  margin: 10px auto;
  width: 286px;
  height: 175px;
}

#fourth #third .inner .maintext{
  margin-top: 15px;
  font-size: 15px;
  line-height: 15px;
}

#fourth #third .inner .maintext h3{
  font-size: 16px;
  line-height: 20px;
}

#fourth #third .inner .subsection ul{
  overflow: hidden;
  margin-top: 15px;
}

#fourth #third .inner .subsection ul li{
  margin-bottom: 10px;
  float: left;
  width: 286px;
  height: 58px;
}

#fourth #third .inner .subsection ul li .textbox{
  display: table-cell;
  padding: 0 0 0 15px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 500;
  width: 193px;
  height: 58px;

}

#fourth #third .inner .subsection ul li.sub1 .img{
  background: url('../img/box_wrap1.png');
  background-size: cover;
  float: left;
  width: 93px;
  height: 58px;
}

#fourth #third .inner .subsection ul li.sub2 .img{
  background: url('../img/box_wrap2.png');
  background-size: cover;
  float: left;
  width: 93px;
  height: 58px;
}

#fourth #third .inner .subsection ul li.sub3 .img{
  background: url('../img/box_wrap3.png');
  background-size: cover;
  float: left;
  width: 93px;
  height: 58px;
}

/*하단바*/
#footer{
  background: black;
}

#footer .inner{
  position: relative;
  bottom: 0;
  width: 1280px;
  height: 200px;
  padding: 50px 20px 0;
  margin: 0 auto;
  overflow: hidden;
}

#footer .inner .f_boxlogo{
  background: url('../img/footer_logo.png');
  background-size: cover;
  width: 80px;
  height: 30px;
}

#footer .inner .f_box:nth-child(2){
  padding-left: 300px;
  margin-top: -35px;
}

/*site menu*/
#footer .inner .f_box ul{ overflow: hidden; }

#footer .inner .f_box ul li{
  height: 20px;
  float: left;
  margin-right: 40px;
}

#footer .inner .f_box ul li a{
  line-height: 20px;
  color: #333333;
}

#footer .inner .f_box .tel{
  font-size: 16px;
  line-height: 1;
  margin-top: 20px;
  color: #333333;
  font-weight: 900;
}

#footer .inner .f_box .copyright{
  font-size: 12px;
  line-height: 16px;
  margin-top: 23px;
  color: #777777;
}

#familysite {
  position: absolute;
  width: 190px;
  height: 30px;
  top: 50px;
  right: 80px;
  background-color: white;
  color: black;
  outline: none;
  appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('../img/select_box_arrow.png');
  background-repeat: no-repeat;
  background-position: right center;
}

select::-ms-expand{
  display: none;
}

#familysite:focus{
  background: #f1f1f1;
  width: 190px;
  height: 30px;
  top: 50px;
  right: 80px;
}
